[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alembic = "*"
sqlmodel = "*"
python-dotenv = "*"
psycopg2-binary = "*"
bcrypt = "*"
pyjwt = "*"
pydantic = {extras = ["email"], version = "*"}
fastapi = "*"
uvicorn = "*"
clerk-sdk-python = *

[dev-packages]

[requires]
python_version = "3.13"
